In [37]:
import seaborn as sns
import pandas as pd
import numpy as np
from ipywidgets import interact, widgets
from IPython.display import display
import ipympl

In [2]:
data = pd.read_csv('D:/Python/Git/the-Impact-of-News-Information-Acquisition-and-Cognition-master/the-Impact-of-News-Information-Acquisition-and-Cognition-master/data/processed/processed_data.csv')

In [24]:
df = pd.DataFrame(data)

In [25]:
df

      Q3  Q4  Q5  Q6  Q7  Q8  Q9  Q10  Q11  Q12  Q13  Q14  Q15_A8  Q31  time
0      2   4   2   2   1   6   3    7    7    7    5    6       0    7     7
1      1   4   2   2   2   6   3    5    6    5    5    6       0    7     9
2      2   4   2   2   2   6   3    5    7    4    6    6       0    7     9
3      2   4   2   2   1   6   5    6    6    5    4    5       0    7     9
4      1   4   2   2   1   3   7    6    6    4    6    6       0    7     8
...   ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ...  ...     ...  ...   ...
1150   1   1   2   3   1   4   7    6    6    5    6    6       0    7    16
1151   2   2   3   1   2   5   7    6    6    5    6    7       0    7    13
1152   2   2   3   1   1   5   7    6    6    6    6    7       0    7    20
1153   2   4   3   1   2   3   7    6    6    4    6    7       0    7    14
1154   1   1   2   3   3   5   5    6    6    6    5    7       1    7    13

[1155 rows x 15 columns]

In [42]:
explanatory_variables = ['Q13', 'Q14', 'Q15_A8']
response_variables = ['Q10', 'Q11', 'Q12']

In [43]:
explanatory_variable_checkbox = widgets.Dropdown(options=explanatory_variables, value=explanatory_variables[0], description='Explanatory Variable:')
response_variable_checkbox = widgets.Dropdown(options=response_variables, value=response_variables[0], description='Response Variable:')

In [46]:
def create_heatmap(selected_explanatory_var, selected_response_var):
    selected_data = df[[selected_explanatory_var, selected_response_var]]

    plt.figure(figsize=(8, 6))
    sns.heatmap(selected_data.corr(), annot=True, cmap='coolwarm', linewidths=.5, vmin=-1, vmax=1)
    plt.title('Heatmap of Correlation')
    plt.show()

In [47]:
interact(create_heatmap, selected_explanatory_var=explanatory_variable_checkbox, selected_response_var=response_variable_checkbox);

interactive(children=(Dropdown(description='Explanatory Variable:', index=2, options=('Q13', 'Q14', 'Q15_A8'),…